@import "../../less/variables";

.login-form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 340px;
  margin-right: auto;
  margin-left: auto;

  .MuiButton-root {
    color: @color-primary;
    border-color: @color-primary;

    &:hover {
      background-color: @color-primary;
      color: @color-white;
    }
  }
}


