@import "../../less/variables";

.products-table {
  padding-top: 86px;
  padding-bottom: 34px;
}

.products-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  border: 1px solid @color-secondary;
  border-radius: 10px;
  padding-bottom: 14px;
  overflow: hidden;
  height: 596px;
}

.table-head-row {
  background-color: @color-primary;

  & span {
    color: @color-white;
  }
}

.table-image {
  max-width: 100%;
  max-height: 100%;
}

.table-head span {
  font-weight: 600;
}

.table-row {
  height: 96px;
}


.table-name-cell {
  max-width: 100px;

  & a {
    color: black;
    font-weight: 600;
    transition: color @transition;

    &:hover {
      color: @color-primary;
    }

  }
}

.table-id-cell {
  width: 36px;
}

.table-price-cell{
  max-width: 36px;
}

.table-price-cell{
  max-width: 36px;
}

.table-image-cell{
  width: 52px;
  height: 52px;
}

.not-found-msg {
  margin-top: auto;
  margin-bottom: auto;
}



